<h1>Welcome to the Card Printer!</h1>

<p>First, press the pink button to read the spreadsheet.</p>
<p>Second, pick which cards you would like to print.</p>
<p>Third, press the blue button.</p>

<div class='button-bunch'>
    <div class='lk-button readss'>
        <p class='button-text'>
            Read the Spreadsheet!
        </p>
    </div>

    <div class='lk-button done-picking'>
        <p class='button-text'>
            Done
        </p>
    </div>
</div>